@font-face {
    font-family: 'iconfont';  /* project id 1304902 */
    src: url('../font/iconfont.eot');
    src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
    url('../font/iconfont.woff2') format('woff2'),
    url('../font/iconfont.woff') format('woff'),
    url('../font/iconfont.ttf') format('truetype'),
    url('../font/iconfont.svg#iconfont') format('svg');
}
.icon {
    font-family: "iconfont" !important;
    font-size: 14px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
}

.icon-menu:before {
    content: '\e613';
}

.icon-close:before {
    content: '\e647';
}

.icon-link:before {
    content: '\e611';
}
.icon-left-arrow:before {
    content: '\e600';
}
.icon-right-arrow:before {
    content: '\e601';
}